.MPSideNavFlexBox {
    display: flex;
}

.PD_Container {
    padding: 5vh 0rem 0 3vw;
}

.PD_Content {
    background-color: #a2a8d3;
    width: 70vw;
    height: 100%;
    padding: 3vh 5vw;
}

.EXH1 {
    font-size: 20px;
    letter-spacing: 2px;
}

.EXH2 {
    font-size: 16px;
    letter-spacing: 1px;
}

.MEXGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    padding: 2vw;
    align-items: center;
    justify-items: center;
}

.MEXCard {
    border-radius: 25px;
    background-color: #a2a8d3;
}

.MEXHeading{
    font-size: 25px;
}
.MEXPricings{
    font-size: 20px;
}
.MEXIcon{
    height: 150px;
    width: 150px;
}

@media screen and (max-width: 900px){
    .MEXHeading{
        font-size: 13px;
    }
    .MEXPricings{
        font-size: 12px;
    }
    .MEXIcon{
        height: 100px;
        width: 100px;
    }
}