
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Frank+Ruhl+Libre:wght@500;800&family=Tiro+Bangla&display=swap');



.signButton {
  
  width : fit-content;
  margin: 2rem;
  
}


.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgba(213, 213, 246, 0.512);
  padding-right: 1.5rem;
}

.SUI {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px; 
}

.logo {
  font-family: 'DM Serif Display';
  font-weight: 900;
  font-size: 35px;
  padding-left:2rem;
}

.SI,.SU {
  margin: 0.5rem;
}

.HLLogo{
  color: #d5bdaf;
}

@media only screen and (max-width: 800px) {
  .nav{
    display: flex;
    flex-direction: column;
  }

  .logoPointerCursor{
    text-align:center;
    padding: 2rem;
    margin-left: 1rem;
  }

  .SUI {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }


}
